DATABASE_URL="postgresql://usuario:password@localhost:5432/biblioteca"
DIRECT_URL="postgresql://usuario:password@localhost:5432/biblioteca"
JWT_SECRET="tu_secreto_super_seguro_aqui"
JWT_EXPIRES_IN="2h"
NODE_ENV="development"
PORT=3000