PORT=3000
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/podcasthub
MONGODB_TEST_URI=mongodb+srv://usuario:password@cluster.mongodb.net/podcasthub_test
JWT_SECRET=tu_clave_secreta_muy_larga_minimo_32_caracteres
JWT_EXPIRES_IN=2h
